
<%- include("header"); -%>

<div class="pageTitle">
  <h1>Home</h1>
</div>

<div class="body">

<h3>Reversed String</h3>

  <div>
    <% inputs.reArray.forEach(function(post) { %>
    <ul>
      <li>number_words: <%=post.length%></li>
      <li>reverse: <%=post.rev%></li>
    </ul>
    <% }); %>
  </div>

</div>

<%- include("footer"); -%>
